@import url("https://fonts.googleapis.com/css2?family=Antonio&family=League+Spartan:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
body {
  font-family: "Antonio", "Spartan", sans-serif;
  background-color: rgba(7, 7, 36, 1);
}
